# Object files
*.o
*.ko
*.o.*
*.uvgui.*
*.bat
*.__i
*.dbgdt
*.tra
*.pbd
*.browse
*.tmp
*.db
*.__ia
*.dni
*.wsdt
*.pbi
*.bin
*.cout
*.crf
*.d
*.sct
*.htm
*.map
*.axf
*.lnp
*.txt
*.ini
*.lst
output
settings
Debug
Release

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.hex

# Project files
*.plg
*.Yandld
*.dep
*.bak